@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
/* line 3, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* line 9, ../sass/style.scss */
#twitter-widget-0 {
  height: 250px !important;
}

/* line 12, ../sass/style.scss */
#twitter-widget-1 {
  height: 325px !important;
}

/* line 20, ../sass/style.scss */
.txt-right {
  text-align: right;
}

/* line 25, ../sass/style.scss */
#top {
  background-color: #002b4d;
  padding: 8px 0;
}
/* line 28, ../sass/style.scss */
#top .top-mobile {
  display: none;
}
@media screen and (max-width: 991px) {
  /* line 28, ../sass/style.scss */
  #top .top-mobile {
    display: block;
  }
}
/* line 33, ../sass/style.scss */
#top .top-mobile .toggleMenu {
  display: none;
  background: #666;
  padding: 10px 15px;
  color: #fff;
}
/* line 40, ../sass/style.scss */
#top .top-mobile .nav {
  list-style: none;
  *zoom: 1;
}
/* line 44, ../sass/style.scss */
#top .top-mobile .nav:before {
  content: " ";
  display: table;
}
/* line 49, ../sass/style.scss */
#top .top-mobile .nav:after {
  content: " ";
  display: table;
  clear: both;
}
/* line 55, ../sass/style.scss */
#top .top-mobile .nav ul {
  list-style: none;
  width: 9em;
}
/* line 60, ../sass/style.scss */
#top .top-mobile .nav a {
  padding: 10px 15px;
  color: #fff;
}
/* line 65, ../sass/style.scss */
#top .top-mobile .nav li {
  position: relative;
}
/* line 68, ../sass/style.scss */
#top .top-mobile .nav li ul {
  position: absolute;
  left: -9999px;
}
/* line 74, ../sass/style.scss */
#top .top-mobile .nav li li.hover ul {
  left: 100%;
  top: 0;
}
/* line 79, ../sass/style.scss */
#top .top-mobile .nav li li a {
  display: block;
  background: #1d7a62;
  position: relative;
  z-index: 100;
  border-top: 1px solid #175e4c;
}
/* line 87, ../sass/style.scss */
#top .top-mobile .nav li li li a {
  background: #249578;
  z-index: 200;
  border-top: 1px solid #1d7a62;
}
/* line 95, ../sass/style.scss */
#top .top-mobile .nav > li {
  float: left;
  border-top: 1px solid #104336;
}
/* line 100, ../sass/style.scss */
#top .top-mobile .nav > li > .parent {
  background-image: url("https://raw.githubusercontent.com/tessalt/dropdowns/master/images/downArrow.png");
  background-repeat: no-repeat;
  background-position: right;
}
/* line 106, ../sass/style.scss */
#top .top-mobile .nav > li > a {
  display: block;
}
/* line 112, ../sass/style.scss */
#top .top-mobile .nav > li.hover > ul {
  left: 0;
}
@media screen and (max-width: 768px) {
  /* line 118, ../sass/style.scss */
  #top .top-mobile .active {
    display: block;
  }
  /* line 123, ../sass/style.scss */
  #top .top-mobile .nav > li {
    float: none;
    display: block;
    width: 100%;
  }
  /* line 127, ../sass/style.scss */
  #top .top-mobile .nav > li > .parent {
    background-position: 95% 50%;
  }
  /* line 132, ../sass/style.scss */
  #top .top-mobile .nav li li .parent {
    background-image: url("https://raw.githubusercontent.com/tessalt/dropdowns/master/images/downArrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }
  /* line 138, ../sass/style.scss */
  #top .top-mobile .nav ul {
    display: block;
    width: 100%;
  }
  /* line 143, ../sass/style.scss */
  #top .top-mobile .nav > li.hover > ul, #top .top-mobile .nav li li.hover ul {
    position: static;
  }
}
@media screen and (max-width: 992px) {
  /* line 149, ../sass/style.scss */
  #top .top-desktop {
    display: none;
  }
}
/* line 153, ../sass/style.scss */
#top .top-desktop .logo {
  display: flex;
  align-items: center;
  height: 100%;
}
/* line 158, ../sass/style.scss */
#top .top-desktop .btn-group {
  font-size: 12px;
}
/* line 160, ../sass/style.scss */
#top .top-desktop .btn-group a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
/* line 165, ../sass/style.scss */
#top .top-desktop .btn-group .dropdown-menu {
  background-color: #232b2b;
}
/* line 169, ../sass/style.scss */
#top .top-desktop .search {
  display: inline-flex;
}
/* line 172, ../sass/style.scss */
#top .top-desktop .menus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* line 177, ../sass/style.scss */
#top .top-desktop .menus ul {
  padding: 0;
  margin: 0;
}
/* line 180, ../sass/style.scss */
#top .top-desktop .menus ul li {
  list-style: none;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  margin-right: 7px;
  position: relative;
}
/* line 189, ../sass/style.scss */
#top .top-desktop .menus ul li:hover .submenu {
  display: block;
}
/* line 193, ../sass/style.scss */
#top .top-desktop .menus ul li:last-child {
  margin-right: 0;
}
/* line 196, ../sass/style.scss */
#top .top-desktop .menus ul li a {
  color: #fff;
  padding: 25px 0;
  text-decoration: none;
}
/* line 200, ../sass/style.scss */
#top .top-desktop .menus ul li a:hover {
  color: #ff3b30;
}
/* line 204, ../sass/style.scss */
#top .top-desktop .menus ul li .submenu {
  position: absolute;
  display: none;
  top: 40px;
  z-index: 1;
  background-color: #232b2b;
  opacity: 0.85;
  width: 170px;
}
/* line 213, ../sass/style.scss */
#top .top-desktop .menus ul li .submenu ul li {
  font-size: 14px;
  padding: 10px;
  display: block;
  position: relative;
  margin-right: 0;
}
/* line 220, ../sass/style.scss */
#top .top-desktop .menus ul li .submenu ul li:hover .submenu2 {
  display: block;
}
/* line 224, ../sass/style.scss */
#top .top-desktop .menus ul li .submenu ul li a {
  padding: 5px;
  display: block;
}
/* line 228, ../sass/style.scss */
#top .top-desktop .menus ul li .submenu ul li .submenu2 {
  display: none;
  position: absolute;
  left: 160px;
  top: 0;
  background-color: #232b2b;
  width: 150px;
}

/* line 245, ../sass/style.scss */
.home-slides-wrapper {
  position: relative;
  color: #fff;
}
@media (min-width: 1280px) {
  /* line 250, ../sass/style.scss */
  .home-slides-wrapper .slider-for .img img {
    width: 100%;
    height: 580px;
    object-fit: cover;
  }
}
/* line 258, ../sass/style.scss */
.home-slides-wrapper .slider-for .txt {
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
}
/* line 263, ../sass/style.scss */
.home-slides-wrapper .slider-for .txt .date {
  font-size: 12px;
}
/* line 266, ../sass/style.scss */
.home-slides-wrapper .slider-for .txt .title {
  font-size: 35px;
  font-weight: 700;
  margin: 10px 0 30px;
  line-height: normal;
}
@media screen and (max-width: 991px) {
  /* line 266, ../sass/style.scss */
  .home-slides-wrapper .slider-for .txt .title {
    font-size: 16px;
  }
}
/* line 276, ../sass/style.scss */
.home-slides-wrapper .slider-for .txt .more a {
  background-color: #ef8300;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
/* line 285, ../sass/style.scss */
.home-slides-wrapper .thumb-nav-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
}
@media screen and (max-width: 991px) {
  /* line 285, ../sass/style.scss */
  .home-slides-wrapper .thumb-nav-slider {
    display: none;
  }
}
/* line 295, ../sass/style.scss */
.home-slides-wrapper .thumb-nav-slider .slider-nav .thumb-slides {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding-top: 30px;
  outline: none;
  cursor: pointer;
}
/* line 300, ../sass/style.scss */
.home-slides-wrapper .thumb-nav-slider .slider-nav .thumb-slides.slick-current {
  border-color: #ff3b30;
}
/* line 302, ../sass/style.scss */
.home-slides-wrapper .thumb-nav-slider .slider-nav .thumb-slides.slick-current .txt {
  color: #ff3b30;
}
/* line 307, ../sass/style.scss */
.home-slides-wrapper .thumb-nav-slider .slider-nav .thumb-slides .img img {
  width: 100%;
}
/* line 311, ../sass/style.scss */
.home-slides-wrapper .thumb-nav-slider .slider-nav .thumb-slides .txt {
  font-weight: 700;
  font-size: 12px;
  padding: 0 5px;
}

@media screen and (min-width: 992px) {
  /* line 321, ../sass/style.scss */
  .no-right {
    padding-right: 0;
  }
}

/* line 328, ../sass/style.scss */
#main .content-column-wrapper {
  padding: 30px 0;
}

/* line 333, ../sass/style.scss */
.sidebar {
  color: #1c2e36;
}
@media screen and (max-width: 667px) {
  /* line 336, ../sass/style.scss */
  .sidebar .img img {
    width: 100%;
  }
}
/* line 342, ../sass/style.scss */
.sidebar .pengumuman {
  margin-bottom: 20px;
}
/* line 345, ../sass/style.scss */
.sidebar .pengumuman .list ul {
  padding: 0;
}
/* line 347, ../sass/style.scss */
.sidebar .pengumuman .list ul li {
  list-style: none;
  background: url(../img/pengumuman.png) no-repeat left top;
  padding-left: 40px;
  border-bottom: 1px solid rgba(141, 149, 149, 0.2);
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 347, ../sass/style.scss */
  .sidebar .pengumuman .list ul li {
    font-size: 12px;
    line-height: normal;
  }
}
/* line 359, ../sass/style.scss */
.sidebar .pengumuman .list ul li:last-child {
  border-bottom: none;
}
/* line 366, ../sass/style.scss */
.sidebar .gempa-terkini {
  margin-bottom: 40px;
}
/* line 368, ../sass/style.scss */
.sidebar .gempa-terkini .headline {
  border-bottom: 1px solid rgba(141, 149, 149, 0.2);
}
/* line 372, ../sass/style.scss */
.sidebar .gempa-terkini .detail ul {
  padding: 15px 8px;
  margin: 0;
}
/* line 375, ../sass/style.scss */
.sidebar .gempa-terkini .detail ul li {
  list-style: none;
  padding-left: 40px;
  font-size: 14px;
  margin-bottom: 10px;
}
/* line 380, ../sass/style.scss */
.sidebar .gempa-terkini .detail ul li span {
  font-size: 16px;
}
/* line 383, ../sass/style.scss */
.sidebar .gempa-terkini .detail ul li:nth-child(1) {
  background: url(../img/status-date.png) no-repeat left;
}
/* line 386, ../sass/style.scss */
.sidebar .gempa-terkini .detail ul li:nth-child(2) {
  background: url(../img/status-type.png) no-repeat left;
}
/* line 389, ../sass/style.scss */
.sidebar .gempa-terkini .detail ul li:nth-child(3) {
  background: url(../img/status-deep.png) no-repeat left;
}
/* line 392, ../sass/style.scss */
.sidebar .gempa-terkini .detail ul li:nth-child(4) {
  background: url(../img/status-loc.png) no-repeat left;
}
/* line 400, ../sass/style.scss */
.sidebar .siaga-bencana .headline {
  border-bottom: 1px solid rgba(141, 149, 149, 0.2);
}
@media screen and (min-width: 768px) {
  /* line 404, ../sass/style.scss */
  .sidebar .siaga-bencana .img img {
    height: 360px;
    width: 100%;
    object-fit: cover;
  }
}
/* line 412, ../sass/style.scss */
.sidebar .siaga-bencana .more {
  font-size: 14px;
}
/* line 416, ../sass/style.scss */
.sidebar .accordion {
  margin-bottom: 20px;
}
/* line 420, ../sass/style.scss */
.sidebar .accordion .card .card-header h2 {
  font-size: 16px;
}
/* line 423, ../sass/style.scss */
.sidebar .accordion .card .card-header button {
  color: #fff;
}
/* line 427, ../sass/style.scss */
.sidebar .accordion .card #headingOne {
  background-color: #e02020;
}
/* line 430, ../sass/style.scss */
.sidebar .accordion .card #headingTwo {
  background-color: #fa6400;
}
/* line 433, ../sass/style.scss */
.sidebar .accordion .card #headingThree {
  background-color: #f7b500;
}
/* line 436, ../sass/style.scss */
.sidebar .accordion .card #headingFourth {
  background-color: #5b9c16;
}
/* line 441, ../sass/style.scss */
.sidebar .accordion .collapse .card-body {
  padding: 0 !important;
}
/* line 444, ../sass/style.scss */
.sidebar .accordion .collapse .card-body .list ul {
  padding: 10px !important;
  margin: 0 !important;
}
/* line 447, ../sass/style.scss */
.sidebar .accordion .collapse .card-body .list ul li {
  list-style: none;
  border-bottom: 1px solid rgba(141, 149, 149, 0.2);
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* line 452, ../sass/style.scss */
.sidebar .accordion .collapse .card-body .list ul li:last-child {
  border: none;
}
/* line 456, ../sass/style.scss */
.sidebar .accordion .collapse .card-body .list ul li .block .nama-gunung {
  color: #1c2e36;
  font-size: 16px;
}
/* line 460, ../sass/style.scss */
.sidebar .accordion .collapse .card-body .list ul li .block .time {
  font-size: 10px;
  font-weight: 600;
  color: #9fabb0;
}
/* line 472, ../sass/style.scss */
.sidebar .status-gunung {
  margin-bottom: 40px;
}
/* line 474, ../sass/style.scss */
.sidebar .status-gunung .headline {
  border-bottom: 1px solid rgba(141, 149, 149, 0.2);
}
/* line 479, ../sass/style.scss */
.sidebar .berita-populer .block {
  border-bottom: 1px solid rgba(141, 149, 149, 0.2);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 485, ../sass/style.scss */
.sidebar .berita-video {
  margin-bottom: 40px;
}
/* line 487, ../sass/style.scss */
.sidebar .berita-video .see-more {
  padding-top: 10px;
  text-align: right;
  font-size: 14px;
}
/* line 491, ../sass/style.scss */
.sidebar .berita-video .see-more a {
  color: #fe5d3d;
}
/* line 496, ../sass/style.scss */
.sidebar .bencana {
  margin-bottom: 40px;
}
/* line 498, ../sass/style.scss */
.sidebar .bencana .headline {
  border-bottom: 1px solid rgba(141, 149, 149, 0.2);
}
/* line 501, ../sass/style.scss */
.sidebar .bencana .see-more {
  padding-top: 10px;
  text-align: right;
  font-size: 14px;
}
/* line 505, ../sass/style.scss */
.sidebar .bencana .see-more a {
  color: #fe5d3d;
}
/* line 511, ../sass/style.scss */
.sidebar .twitter-feed .headline {
  border-bottom: 1px solid rgba(141, 149, 149, 0.2);
}
/* line 516, ../sass/style.scss */
.sidebar .column .more {
  text-align: right;
}
/* line 518, ../sass/style.scss */
.sidebar .column .more a {
  color: #fe5d3d;
  text-decoration: none;
}
/* line 523, ../sass/style.scss */
.sidebar .column .date {
  font-size: 12px;
  color: rgba(141, 149, 149, 0.7);
  font-weight: 600;
  margin: 10px 0;
}
/* line 529, ../sass/style.scss */
.sidebar .column .title {
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
}
/* line 533, ../sass/style.scss */
.sidebar .column .title a {
  color: #1c2e36;
  text-decoration: none;
}
/* line 536, ../sass/style.scss */
.sidebar .column .title a:hover {
  color: #00499d;
}
/* line 542, ../sass/style.scss */
.sidebar .headline {
  color: #00499d;
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  border-bottom: 3px solid #00499d;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 542, ../sass/style.scss */
  .sidebar .headline {
    font-size: 16px;
  }
}
/* line 554, ../sass/style.scss */
.sidebar .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
/* line 561, ../sass/style.scss */
.sidebar .embed-container iframe, .sidebar .embed-container object, .sidebar .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 571, ../sass/style.scss */
.sidebar .goverment #gpr-kominfo-widget-body {
  height: 350px;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 575, ../sass/style.scss */
  .sidebar .goverment #gpr-kominfo-widget-container {
    min-width: 160px !important;
  }
}

@media screen and (max-width: 667px) {
  /* line 584, ../sass/style.scss */
  .center-content-wrapper {
    margin-top: 40px;
  }
}
/* line 589, ../sass/style.scss */
.center-content-wrapper .slider-home-centring .arrows {
  position: absolute;
  background-color: rgba(0, 73, 157, 0.9);
  border: none;
  color: #fff;
  padding: 12px 20px;
  font-weight: normal;
  outline: none;
  cursor: pointer;
}
/* line 599, ../sass/style.scss */
.center-content-wrapper .slider-home-centring .next {
  top: 50%;
  right: 0;
  z-index: 1;
}
/* line 604, ../sass/style.scss */
.center-content-wrapper .slider-home-centring .prev {
  top: 50%;
  left: 0;
  z-index: 2;
}
/* line 609, ../sass/style.scss */
.center-content-wrapper .slider-home-centring .slick-dots {
  position: absolute;
  bottom: 70px;
  right: 20px;
  padding: 0;
  margin: 0;
}
/* line 615, ../sass/style.scss */
.center-content-wrapper .slider-home-centring .slick-dots li {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
/* line 620, ../sass/style.scss */
.center-content-wrapper .slider-home-centring .slick-dots li.slick-active button {
  opacity: 1;
}
/* line 624, ../sass/style.scss */
.center-content-wrapper .slider-home-centring .slick-dots li button {
  text-indent: -9999px;
  border: none;
  width: 10px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.8;
}
/* line 634, ../sass/style.scss */
.center-content-wrapper .slider-home-centring .block {
  position: relative;
}
/* line 637, ../sass/style.scss */
.center-content-wrapper .slider-home-centring .block .txt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 73, 157, 0.85);
  color: #fff;
  padding: 15px 30px;
}
/* line 645, ../sass/style.scss */
.center-content-wrapper .slider-home-centring .block .txt .date {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.7;
}
/* line 650, ../sass/style.scss */
.center-content-wrapper .slider-home-centring .block .txt .title {
  font-size: 16px;
  font-weight: 700;
}
/* line 657, ../sass/style.scss */
.center-content-wrapper .berita-terkini {
  padding-top: 20px;
}
/* line 659, ../sass/style.scss */
.center-content-wrapper .berita-terkini .headline {
  border-bottom: 1px solid rgba(141, 149, 149, 0.2);
  color: #00499d;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
@media screen and (max-width: 667px) {
  /* line 668, ../sass/style.scss */
  .center-content-wrapper .berita-terkini .img img {
    width: 100%;
  }
}
/* line 674, ../sass/style.scss */
.center-content-wrapper .berita-terkini .block {
  border-bottom: 1px solid rgba(141, 149, 149, 0.2);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 679, ../sass/style.scss */
.center-content-wrapper .berita-terkini .title {
  font-size: 14px;
  font-weight: 600;
}
@media screen and (max-width: 667px) {
  /* line 679, ../sass/style.scss */
  .center-content-wrapper .berita-terkini .title {
    font-size: 18px;
    line-height: normal;
  }
}
/* line 686, ../sass/style.scss */
.center-content-wrapper .berita-terkini .title a {
  text-decoration: none;
  color: #1c2e36;
}
/* line 689, ../sass/style.scss */
.center-content-wrapper .berita-terkini .title a:hover {
  color: #00499d;
}
/* line 694, ../sass/style.scss */
.center-content-wrapper .berita-terkini .date {
  margin: 10px 0;
  color: #8d9595;
  opacity: 0.7;
  font-size: 12px;
}
/* line 700, ../sass/style.scss */
.center-content-wrapper .berita-terkini .desc {
  font-size: 14px;
  color: #1c2e36;
}
/* line 704, ../sass/style.scss */
.center-content-wrapper .berita-terkini .more {
  text-align: center;
  font-weight: 600;
}
/* line 707, ../sass/style.scss */
.center-content-wrapper .berita-terkini .more a {
  text-decoration: none;
  display: block;
  color: #fff;
  background-color: #00499d;
  text-align: center;
  padding: 10px 20px;
}
/* line 717, ../sass/style.scss */
.center-content-wrapper .logo-centring {
  border-top: 1px solid #00499d;
  padding-top: 20px;
  margin-top: 40px;
}
/* line 721, ../sass/style.scss */
.center-content-wrapper .logo-centring .block {
  margin-bottom: 20px;
}
/* line 723, ../sass/style.scss */
.center-content-wrapper .logo-centring .block .title {
  text-align: center;
  color: #1c2e36;
  font-weight: 700;
  text-transform: uppercase;
  min-height: 30px;
  line-height: 16px;
  font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 723, ../sass/style.scss */
  .center-content-wrapper .logo-centring .block .title {
    min-height: 50px;
  }
}
/* line 735, ../sass/style.scss */
.center-content-wrapper .logo-centring .block .img {
  border: 1px solid #fa6400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 735, ../sass/style.scss */
  .center-content-wrapper .logo-centring .block .img {
    padding: 10px;
  }
}
/* line 749, ../sass/style.scss */
.center-content-wrapper .emagazine .more {
  text-align: right;
}
/* line 751, ../sass/style.scss */
.center-content-wrapper .emagazine .more a {
  color: #fe5d3d;
  font-size: 14px;
  text-decoration: none;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 751, ../sass/style.scss */
  .center-content-wrapper .emagazine .more a {
    font-size: 10px;
  }
}
/* line 760, ../sass/style.scss */
.center-content-wrapper .emagazine .top {
  padding: 20px 0 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(141, 149, 149, 0.2);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 760, ../sass/style.scss */
  .center-content-wrapper .emagazine .top {
    padding: 0;
  }
}
/* line 767, ../sass/style.scss */
.center-content-wrapper .emagazine .top .title {
  color: #00499d;
  font-weight: 700;
  font-size: 22px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 767, ../sass/style.scss */
  .center-content-wrapper .emagazine .top .title {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 667px) {
  /* line 780, ../sass/style.scss */
  .center-content-wrapper .emagazine .img img {
    width: 100%;
  }
}

/* line 789, ../sass/style.scss */
#footer {
  background-color: #002b4d;
  padding: 40px 0;
  color: #fff;
}
/* line 793, ../sass/style.scss */
#footer .logo {
  margin-bottom: 20px;
}
/* line 796, ../sass/style.scss */
#footer .txt {
  margin-bottom: 20px;
  font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 796, ../sass/style.scss */
  #footer .txt {
    font-size: 12px;
  }
}
/* line 802, ../sass/style.scss */
#footer .txt p {
  margin-bottom: 0;
}
/* line 806, ../sass/style.scss */
#footer .headline {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 40px;
}
@media screen and (max-width: 667px) {
  /* line 806, ../sass/style.scss */
  #footer .headline {
    margin-bottom: 10px;
  }
}
/* line 815, ../sass/style.scss */
#footer .sosmed ul {
  padding: 20px 0;
  margin: 0;
}
/* line 818, ../sass/style.scss */
#footer .sosmed ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 818, ../sass/style.scss */
  #footer .sosmed ul li {
    margin-right: 3px;
  }
}
/* line 825, ../sass/style.scss */
#footer .sosmed ul li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 667px) {
  /* line 831, ../sass/style.scss */
  #footer .twitter-feed {
    margin: 40px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 835, ../sass/style.scss */
  #footer .twitter-feed iframe {
    min-width: 100% !important;
  }
}
/* line 843, ../sass/style.scss */
#footer .subscriber form input {
  background-color: #eeefef;
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 847, ../sass/style.scss */
  #footer .subscriber form .form-check-label {
    font-size: 12px;
    line-height: normal;
  }
}
/* line 853, ../sass/style.scss */
#footer .subscriber form button {
  background-color: #ef8300;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  width: 60%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 853, ../sass/style.scss */
  #footer .subscriber form button {
    width: 100%;
  }
}
@media screen and (max-width: 667px) {
  /* line 865, ../sass/style.scss */
  #footer .menus {
    margin-bottom: 40px;
  }
}
/* line 869, ../sass/style.scss */
#footer .menus ul {
  padding: 0;
}
/* line 871, ../sass/style.scss */
#footer .menus ul li {
  list-style: none;
}
/* line 873, ../sass/style.scss */
#footer .menus ul li a {
  display: block;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 0;
  text-decoration: none;
}
/* line 879, ../sass/style.scss */
#footer .menus ul li a:hover {
  color: #ff3b30;
  border-color: rgba(255, 59, 48, 0.5);
}

/* line 889, ../sass/style.scss */
#footer-bottom {
  background-color: #232b2b;
  color: rgba(255, 255, 255, 0.6);
  padding: 20px 0;
  font-size: 14px;
}
